img{
   max-width: 280px;
   border-radius: 20px;
}
 body , blockquote{
   background-color: #e3f2fd;
   font-family: 'poppins' , sans-serif;
 }

body.dark, body.dark blockquote {
  background-color: #1a1a1a;
  color: white;
}
  